body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #63dada;
}

header {
    background-color: #75fdfd;
    color: #000;
    text-align: center;
    padding: 1rem 2rem;
    border: 3px solid #000;
    padding: 1em 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #63dada;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    max-width: 200px;
    margin: 20px;
    padding: 10px;
    background-color: #63dada;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.aside-container {
    position: absolute;
    top: 120px; /* 適切な値に調整してください */
    margin-left: 20px;
}

main {
    position: relative; /* mainを相対位置指定することでabsolute要素の基準になります */
}

label,
select {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}


footer {
    text-align: center;
    padding: 1em 0;
    background-color: #4c9f9f;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 18px;
    margin-bottom: 15px;
}

